<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd6d2572-e121-4de9-98f0-0e582dec51b0" Alias="aboutVisionMissionValues" Level="1">
  <Info>
    <Name>About - Vision,Mission,Values</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>AboutVisionMissionValues</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="112af3d3-5906-43a4-8095-60a10ef7a18a">AboutVisionMissionValues</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c295df01-eec2-4068-a30a-e9d9c165fb0b</Key>
      <Name>VisionMissionValuesImage</Name>
      <Alias>visionMissionValuesImage</Alias>
      <Definition>861e6e3d-adde-4155-9568-a80ceee6abb1</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d94b5e3-1407-4b90-bb5c-a787147a0013</Key>
      <Name>VisionMissionValuesText</Name>
      <Alias>visionMissionValuesText</Alias>
      <Definition>325d9a86-7e11-4351-ae6c-7fc792155aa3</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>