<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="51e96fc5-8df3-4a6a-835c-2a57d13ea07a" Alias="aboutFinancialController" Level="1">
  <Info>
    <Name>About - Financial Controller</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>