<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="691b94df-87f7-4491-a63d-f80c05ff2d9f" Alias="aboutMarketingManager" Level="1">
  <Info>
    <Name>About - Marketing Manager</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>