<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d544c89-c82d-4b07-82e5-aa8886fdec2c" Alias="aboutExecutiveDirector" Level="1">
  <Info>
    <Name>About - Executive Director</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>