<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e5b66fb-9f9f-4978-bec7-b33adccfed90" Alias="findADistributor" Level="1">
  <Info>
    <Name>FindADistributor</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>FindADistributor</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="23cdaae5-cf2e-44e0-b4b2-e2366f9b3361">FindADistributor</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>