<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42d85dd1-a6ca-4941-b1f8-a7fa8eb77e4c" Alias="frequentlyAskedQuestions" Level="1">
  <Info>
    <Name>Frequently Asked Questions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>FrequentlyAskedQuestions</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="80ce0c69-3b49-4b15-ab80-affc1ac03ea2">FrequentlyAskedQuestions</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5ff142fa-aa66-430a-99e0-6ddf55837b0d</Key>
      <Name>answer6</Name>
      <Alias>ans</Alias>
      <Definition>c1f83211-0546-4efc-b228-b8f1bebd6ecc</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>54e8f326-992d-4af3-a0b1-3492a65e9a44</Key>
      <Name>answer</Name>
      <Alias>answer</Alias>
      <Definition>37a4c6ed-4f59-4969-980d-c1255f5149e4</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>321a6fdb-3312-4540-942e-0652a5e5dac1</Key>
      <Name>answer1</Name>
      <Alias>answer1</Alias>
      <Definition>f91759df-1fa9-45bd-bdd9-37fba7354762</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>89a2f8ea-6e38-4e23-a02f-1c39c6aeb6cd</Key>
      <Name>answer2</Name>
      <Alias>answer2</Alias>
      <Definition>cb564135-627b-45c7-8adb-614a22d6e02e</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>888b0a12-a6e1-4355-bd2c-42bd38bf8635</Key>
      <Name>answer3</Name>
      <Alias>answer3</Alias>
      <Definition>2dd83493-bbf9-404c-a720-c55da5258624</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>25f92cbb-1832-40e4-a47c-0a4478a6da06</Key>
      <Name>answer4</Name>
      <Alias>answer4</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2f4a111e-128b-4945-9037-ca638d46c717</Key>
      <Name>answer5</Name>
      <Alias>answer5</Alias>
      <Definition>af4aad18-37ac-4040-86a3-feab67dcfa0b</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>67ee134f-33c4-46da-88cf-8a51ad404d39</Key>
      <Name>answer7</Name>
      <Alias>answer7</Alias>
      <Definition>b17f929c-bdf9-4009-ba01-9ac93df26965</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>06a73fde-4599-428e-a002-3bba6e67e1e2</Key>
      <Name>answer8</Name>
      <Alias>answer8</Alias>
      <Definition>3b593459-520c-4b1b-9158-6a95a051a254</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ddac1230-056e-42d6-9235-4888c6dd24b5</Key>
      <Name>question7</Name>
      <Alias>ques</Alias>
      <Definition>198ad5f6-91fe-4b39-b331-3ad197278bff</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3e0198ff-804e-4ab2-aeca-d1a38d53ad09</Key>
      <Name>question</Name>
      <Alias>question</Alias>
      <Definition>fb0f00ad-d05f-4662-845c-5bed70a376d5</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e9e6f881-47d4-4b54-9245-7cdbfa23d8ca</Key>
      <Name>question1</Name>
      <Alias>question1</Alias>
      <Definition>d7c3cc40-972b-458d-a26d-6568bd2cee66</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9871f153-b4b5-4d2d-b5c2-4c3bcb4023d5</Key>
      <Name>question2</Name>
      <Alias>question2</Alias>
      <Definition>14c4116f-7f3f-4982-a984-6d14e523b2bc</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>92bca2eb-5901-4e41-84ab-fc8e04030051</Key>
      <Name>question3</Name>
      <Alias>question3</Alias>
      <Definition>53235f66-41f6-404b-90e5-9e6301d0c4c4</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d176389f-3a54-4137-bd82-9a25f1915f68</Key>
      <Name>question4</Name>
      <Alias>question4</Alias>
      <Definition>3ae0a779-3ecf-46b6-b11b-0b9a7a5beaa9</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6a4b75b7-416a-4062-a724-ba5504105c55</Key>
      <Name>question5</Name>
      <Alias>question5</Alias>
      <Definition>70e68f28-0f7b-49b8-9e58-082259c82924</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>145e0c35-a34e-47bb-af60-fe04c1faaad5</Key>
      <Name>question6</Name>
      <Alias>question6</Alias>
      <Definition>7d237561-72d0-4cdb-aad3-6c3274c41089</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>967e7679-87d4-465b-b760-d50899a09e2c</Key>
      <Name>question8</Name>
      <Alias>question8</Alias>
      <Definition>36790759-be54-4420-a489-09ff86a4d0df</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Questions</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Questions</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>