<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff304059-af44-4e51-9aea-7082501005ef" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7dae032d-7495-4c72-b414-8ff9339e8032">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="484732f6-2311-47d2-b44e-b1b898db014d">about</ContentType>
    <ContentType Key="8bff0083-1158-4d93-81f2-4f8645c9279f">aboutDirectorWorks</ContentType>
    <ContentType Key="1d544c89-c82d-4b07-82e5-aa8886fdec2c">aboutExecutiveDirector</ContentType>
    <ContentType Key="51e96fc5-8df3-4a6a-835c-2a57d13ea07a">aboutFinancialController</ContentType>
    <ContentType Key="691b94df-87f7-4491-a63d-f80c05ff2d9f">aboutMarketingManager</ContentType>
    <ContentType Key="5a555a7e-8231-441a-80d9-36e5f10d89bd">aboutTheFounder</ContentType>
    <ContentType Key="dd6d2572-e121-4de9-98f0-0e582dec51b0">aboutVisionMissionValues</ContentType>
    <ContentType Key="c8678909-e0f6-4140-a6cb-1827421cdfda">contentBase</ContentType>
    <ContentType Key="2e5b66fb-9f9f-4978-bec7-b33adccfed90">findADistributor</ContentType>
    <ContentType Key="42d85dd1-a6ca-4941-b1f8-a7fa8eb77e4c">frequentlyAskedQuestions</ContentType>
    <ContentType Key="aafb92b2-59f3-4641-b7c0-9fd3fc4700e9">ourStory</ContentType>
    <ContentType Key="54a6f10e-bd65-41a9-bbcb-51c28a5a3147">products</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>