<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7785b1dc-95d0-445e-bb9e-25ce6cd16bf8" Alias="ourPeople" Level="1">
  <Info>
    <Name>Our people</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ourPeople</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0dba90e8-95c5-422e-9187-203355b533b9">ourPeople</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>