<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aafb92b2-59f3-4641-b7c0-9fd3fc4700e9" Alias="ourStory" Level="1">
  <Info>
    <Name>Our Story</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>OurStory</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e2fb1397-de92-41e8-b28b-23e9deceb917">OurStory</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>76c4d4aa-bf91-4c8a-b938-f2c5b058debf</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>0e7b6252-7b92-469d-a608-f32c68620e45</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7e712120-00d3-437f-a936-e3c10053c2a7</Key>
      <Name>body two</Name>
      <Alias>bodyTwo</Alias>
      <Definition>a876d278-6b45-40e8-80f1-1f9166251136</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b81847a5-d01d-4b71-af85-8d968d2396a6</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>f12ff9ba-9c8a-4090-bd93-42b770c6349c</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>48e88db2-374b-4f12-972c-9d8e4c59856b</Key>
      <Name>picture</Name>
      <Alias>picture</Alias>
      <Definition>669c8a21-01c9-4d01-b048-8b018a66f7be</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>