<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54a6f10e-bd65-41a9-bbcb-51c28a5a3147" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="c8678909-e0f6-4140-a6cb-1827421cdfda">contentBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a9db5b5e-6c2a-4f03-8e13-03b5fe4a904b">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="599f698a-292d-42dc-995a-0998f0df4905">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8fed95b6-495a-4f43-a9e2-64236a0f04a3</Key>
      <Name>Currency Picker</Name>
      <Alias>currencyPicker</Alias>
      <Definition>0b6a45e7-44ba-430d-9da5-4e46060b9e03</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5e58d43e-b3ca-41fa-9693-970976eda649</Key>
      <Name>Featured Product</Name>
      <Alias>featuredProduct</Alias>
      <Definition>0534b696-7f6e-4fdb-9872-7ad4709950a4</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>