<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44d6aa4f-5416-411d-8f81-12bf8e677752" Alias="productCatalog" Level="1">
  <Info>
    <Name>Product Catalog</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ProductCatalog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="44a313e7-dfef-4df6-9f34-033055513282">ProductCatalog</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>94ef92f0-3f9d-4941-a025-31457ec89720</Key>
      <Name>Popular Product Image</Name>
      <Alias>popularProductImage</Alias>
      <Definition>f500e727-63fe-4f54-b9e6-3af070c8cb9c</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Popular Products Upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>52cf2f3b-999a-4d34-a5d1-0d769156a4c5</Key>
      <Name>Popular Product Name</Name>
      <Alias>popularProductName</Alias>
      <Definition>436da06f-918e-455c-94a2-0f3dc858c1ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Popular Products Upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d63c7881-e75b-409e-8f34-7f058de9d26a</Key>
      <Name>Popular Product Price</Name>
      <Alias>popularProductPrice</Alias>
      <Definition>5fb2707a-361b-4c07-8d48-0693fc51fb9a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Popular Products Upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Popular Products Upload</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>