<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="599f698a-292d-42dc-995a-0998f0df4905" Alias="product" Level="1">
  <Info>
    <Name>Product</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b554f12-62e7-4fda-9775-63e9421fa34d">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b0dde8a4-fdc1-4832-89de-732be789a91b</Key>
      <Name>Content</Name>
      <Alias>cont</Alias>
      <Definition>c3971d0e-26fb-45dd-8952-b0d470c88cd0</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Detailed Description</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>48f1d3d4-2b41-4b3b-acb7-e95db0c179bb</Key>
      <Name>Feature</Name>
      <Alias>feature</Alias>
      <Definition>004bfe9e-aabd-4922-a761-34020af19163</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Feature</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>95626c0b-4e2f-4a4c-b8ff-1a3b1b2dd058</Key>
      <Name>Product category</Name>
      <Alias>productCategory</Alias>
      <Definition>6429690d-c979-435f-a472-cf6f9008f6dc</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ffe0455d-8d4b-42b0-b225-48f0e2bd0cb2</Key>
      <Name>Product Details</Name>
      <Alias>productDetails</Alias>
      <Definition>6bb7170d-9e30-4b2c-b3e1-39a43693d997</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7f0a1d38-deaf-4f0e-ac4d-780000820c2d</Key>
      <Name>Product dimensions</Name>
      <Alias>productDimensions</Alias>
      <Definition>da0a43ab-6eb7-4790-acd2-603e875a9a67</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c3540e60-64c5-4a3e-91eb-7efcd454e883</Key>
      <Name>Product Image</Name>
      <Alias>productImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9110bf0d-151b-4a25-9be4-e469a069744c</Key>
      <Name>Product Name</Name>
      <Alias>productName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f712d673-a82e-4037-aa2d-2132eedc5bf7</Key>
      <Name>Product Price</Name>
      <Alias>productPrice</Alias>
      <Definition>077e804a-18fb-44c9-bfe5-c329c6ad4e85</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Product Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Feature</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Detailed Description</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>