<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d0fba7b-7992-4da4-9ad3-7fa1b6d7b69f" Alias="productsPage" Level="1">
  <Info>
    <Name>Products Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ProductsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e065a62a-29c4-410c-abc0-feea92abf60b">ProductsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9f49e6a6-baae-4ce6-a3d3-973951bf76b5</Key>
      <Name>Nice Moment Images</Name>
      <Alias>niceMomentImages</Alias>
      <Definition>9a18ed9a-885d-4ebd-8073-c97d1d2ae582</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Nice Moments Images</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>78b699b9-2110-4b9e-ac77-9a1dda0fa02a</Key>
      <Name>Product Image</Name>
      <Alias>productImage</Alias>
      <Definition>2c11caa0-dc37-49fe-ad46-af4d4d0c965b</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Product upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>043a60c2-bad4-483d-b1d5-4d1697160497</Key>
      <Name>Product Length</Name>
      <Alias>productLength</Alias>
      <Definition>b3c0c0d1-ca3e-42b1-88b0-5106da293d1a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Product upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7cb4cd6e-d000-4e98-b26e-511ddb5ec7d8</Key>
      <Name>Product Name</Name>
      <Alias>productName</Alias>
      <Definition>898f53da-2792-4f5e-963b-77271a762f55</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Product upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>15a133f6-4661-4d7a-857e-62a65f219288</Key>
      <Name>Product Price</Name>
      <Alias>productPrice</Alias>
      <Definition>42542dbf-3cbb-45fb-b5af-549f261eaf68</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Product upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3924b1ed-14f5-44f3-9468-671840b53e9a</Key>
      <Name>Product Weight</Name>
      <Alias>productWeight</Alias>
      <Definition>7ecc425f-82a8-4d96-870d-8b9c75e788a4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Product upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>06c992f8-6a2c-44b7-ac7a-c997049f80f5</Key>
      <Name>Product Width</Name>
      <Alias>productWidth</Alias>
      <Definition>834db25a-83af-431f-9cb2-7fed8b570cd8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Product upload</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dea581f8-a554-4ca0-a022-3dc44bcdce23</Key>
      <Name>Suggested Product Image</Name>
      <Alias>suggestedProduct</Alias>
      <Definition>7a7cd8bd-e507-49b7-8de0-f3ab839648ff</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Suggested Products</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0e61edc6-b306-448e-8e3b-777ab7389206</Key>
      <Name>Suggested Product Name</Name>
      <Alias>suggestedProductName</Alias>
      <Definition>56916546-9e5e-447e-ba1a-5d1322bbefb3</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Suggested Products</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Product upload</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Suggested Products</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Nice Moments Images</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>