<?xml version="1.0" encoding="utf-8"?>
<DataType Key="854972aa-d64b-40e9-8a6b-3d03a04a2986" Alias="About - FounderImage - Media Picker" Level="1">
  <Info>
    <Name>About - FounderImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>45</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>