<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e497b69b-0cef-4974-887c-46ab12d16277" Alias="About -  DirectorImage - Media Picker" Level="1">
  <Info>
    <Name>About -  DirectorImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>72</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>