<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8eef0a05-cbeb-4275-bcc8-360ca74d86b5" Alias="About - Executive Director - ExcutiveDirectorName - Rich Text Editor" Level="1">
  <Info>
    <Name>About - Executive Director - ExcutiveDirectorName - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>58</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>