<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30d19127-2df9-46ca-8ac4-9aab020dc18f" Alias="About - ExecutiveDirectorImage - Media Picker" Level="1">
  <Info>
    <Name>About - ExecutiveDirectorImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>56</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>