<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f281d366-dfa7-4e88-853f-3ddb6d02c702" Alias="About - Page Title - Textbox" Level="1">
  <Info>
    <Name>About - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>35</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>