<?xml version="1.0" encoding="utf-8"?>
<DataType Key="861e6e3d-adde-4155-9568-a80ceee6abb1" Alias="About - VisionMissionValuesImage - Media Picker" Level="1">
  <Info>
    <Name>About - VisionMissionValuesImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>54</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>