<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74dc2758-82d6-40f5-8636-e2cabdaf84dd" Alias="Contact - message - Rich Text Editor" Level="1">
  <Info>
    <Name>Contact - message - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>63</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "undo",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>