<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8605dee-44ce-4014-b70f-00b39ac3f99a" Alias="Contact - subject - Textbox (1)" Level="1">
  <Info>
    <Name>Contact - subject - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>67</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>