<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cf84706-ff95-4102-8317-200fa475b2e1" Alias="Contact - subject - Textbox" Level="1">
  <Info>
    <Name>Contact - subject - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>62</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>