<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aae01c10-ffef-465b-ab57-ac97c7571c28" Alias="Contact - your name - Textbox (1)" Level="1">
  <Info>
    <Name>Contact - your name - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>66</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>