<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aebb4689-8dc6-470b-8ca6-5e8abdb635f9" Alias="Contact - location at - Textbox" Level="1">
  <Info>
    <Name>Contact - location at - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>64</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>