<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4535f83-ffa3-4584-8ae7-08665aa8dad7" Alias="Contact - your name - Textbox" Level="1">
  <Info>
    <Name>Contact - your name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>59</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>