<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec800ca9-4160-41ba-b80f-2a7fedbb1020" Alias="Contact - email - Textbox" Level="1">
  <Info>
    <Name>Contact - email - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>61</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>