<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c32b8ec3-04c8-4f7f-85b1-52b323592810" Alias="Contact - name - Textbox" Level="1">
  <Info>
    <Name>Contact - name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>60</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>