<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d5c0d18d-2dd0-4c16-b141-d761a424da0f" Alias="FAQ - Question1 - Textarea" Level="1">
  <Info>
    <Name>FAQ - Question1 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>78</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>