<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4aa7ccdd-e30b-44ee-96e5-30b2e7515cc2" Alias="Frequently Asked Questions - Question - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - Question - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>82</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>