<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ae0a779-3ecf-46b6-b11b-0b9a7a5beaa9" Alias="Frequently Asked Questions - question4 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question4 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>95</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>