<?xml version="1.0" encoding="utf-8"?>
<DataType Key="198ad5f6-91fe-4b39-b331-3ad197278bff" Alias="Frequently Asked Questions - question7 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question7 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>100</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>