<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70e68f28-0f7b-49b8-9e58-082259c82924" Alias="Frequently Asked Questions - question5 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question5 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>96</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>