<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d437bbc-1b3f-43f4-8d71-38fb6b7ccef4" Alias="Frequently Asked Questions - question1 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question1 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>85</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>