<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b17f929c-bdf9-4009-ba01-9ac93df26965" Alias="Frequently Asked Questions - answer7 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer7 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>101</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>