<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d237561-72d0-4cdb-aad3-6c3274c41089" Alias="Frequently Asked Questions - question6 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question6 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>98</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>