<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1f83211-0546-4efc-b228-b8f1bebd6ecc" Alias="Frequently Asked Questions - answer6 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer6 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>99</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>