<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14c4116f-7f3f-4982-a984-6d14e523b2bc" Alias="Frequently Asked Questions - question2 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question2 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>91</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>