<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37a4c6ed-4f59-4969-980d-c1255f5149e4" Alias="Frequently Asked Questions - answer - Textarea (1)" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>88</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>