<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53235f66-41f6-404b-90e5-9e6301d0c4c4" Alias="Frequently Asked Questions - question3 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question3 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>93</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>