<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36790759-be54-4420-a489-09ff86a4d0df" Alias="Frequently Asked Questions - question8 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question8 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>102</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>