<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a470c86-67d8-4ed1-9d74-42d2930902c5" Alias="Frequently Asked Questions - Answer - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - Answer - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>83</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>