<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0483acf5-55b2-433d-aa2f-060527404d8e" Alias="Frequently Asked Questions - answer1 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer1 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>86</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>