<?xml version="1.0" encoding="utf-8"?>
<DataType Key="af4aad18-37ac-4040-86a3-feab67dcfa0b" Alias="Frequently Asked Questions - answer5 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer5 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>97</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>