<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7c3cc40-972b-458d-a26d-6568bd2cee66" Alias="Frequently Asked Questions - question1 - Textarea (1)" Level="1">
  <Info>
    <Name>Frequently Asked Questions - question1 - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>89</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>