<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2dd83493-bbf9-404c-a720-c55da5258624" Alias="Frequently Asked Questions - answer3 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer3 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>94</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>