<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b593459-520c-4b1b-9158-6a95a051a254" Alias="Frequently Asked Questions - answer8 - Textarea" Level="1">
  <Info>
    <Name>Frequently Asked Questions - answer8 - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>103</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>