<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efe0e48b-1bc9-438b-9fbc-dc563d8f283f" Alias="Home - Header Logo - Media Picker (1)" Level="1">
  <Info>
    <Name>Home - Header Logo - Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>49</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>