<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d049cd5b-a52c-42b7-b6bf-dc02b1f43b5f" Alias="Home - Header Slogan - Textbox" Level="1">
  <Info>
    <Name>Home - Header Slogan - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>50</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>