<?xml version="1.0" encoding="utf-8"?>
<DataType Key="642914a5-ae4a-4b23-ab72-148a644720bf" Alias="Home - Header Logo - Media Picker" Level="1">
  <Info>
    <Name>Home - Header Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>48</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>