<?xml version="1.0" encoding="utf-8"?>
<DataType Key="715c976f-55be-4911-911e-7b20ba237264" Alias="Home - Header Slogan - Textbox (1)" Level="1">
  <Info>
    <Name>Home - Header Slogan - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>51</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>