<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a08f811-eba9-40a3-91b0-5d8a4e54238b" Alias="Multiple Questions" Level="1">
  <Info>
    <Name>Multiple Questions</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>84</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>