<?xml version="1.0" encoding="utf-8"?>
<DataType Key="669c8a21-01c9-4d01-b048-8b018a66f7be" Alias="Our Story - picture - Media Picker" Level="1">
  <Info>
    <Name>Our Story - picture - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>41</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>