<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8719f766-10a6-4595-9689-36961db819c2" Alias="Popular Products - Media Picker" Level="1">
  <Info>
    <Name>Popular Products - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>108</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>