<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0534b696-7f6e-4fdb-9872-7ad4709950a4" Alias="Products - Featured Product - Multinode Treepicker" Level="1">
  <Info>
    <Name>Products - Featured Product - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>34</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "product",
  "MinNumber": 0,
  "MaxNumber": 20,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>