<?xml version="1.0" encoding="utf-8"?>
<DataType Key="898f53da-2792-4f5e-963b-77271a762f55" Alias="Products Page - Product Name - Textbox" Level="1">
  <Info>
    <Name>Products Page - Product Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>109</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>