<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42542dbf-3cbb-45fb-b5af-549f261eaf68" Alias="Products Page - Product Price - Textbox" Level="1">
  <Info>
    <Name>Products Page - Product Price - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>111</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>