<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3c0c0d1-ca3e-42b1-88b0-5106da293d1a" Alias="Products Page - Product Length - Textbox" Level="1">
  <Info>
    <Name>Products Page - Product Length - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>113</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>