<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a18ed9a-885d-4ebd-8073-c97d1d2ae582" Alias="Products Page - Nice Moment Images - Media Picker" Level="1">
  <Info>
    <Name>Products Page - Nice Moment Images - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>117</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>