<?xml version="1.0" encoding="utf-8"?>
<DataType Key="436da06f-918e-455c-94a2-0f3dc858c1ae" Alias="Product Catalog - Popular Product Name - Textbox" Level="1">
  <Info>
    <Name>Product Catalog - Popular Product Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>110</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>