<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a7cd8bd-e507-49b7-8de0-f3ab839648ff" Alias="Products Page - Suggested Product Image - Media Picker" Level="1">
  <Info>
    <Name>Products Page - Suggested Product Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>116</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>