<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c11caa0-dc37-49fe-ad46-af4d4d0c965b" Alias="Products Page - Product Image - Media Picker" Level="1">
  <Info>
    <Name>Products Page - Product Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>108</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>