<?xml version="1.0" encoding="utf-8"?>
<DataType Key="834db25a-83af-431f-9cb2-7fed8b570cd8" Alias="Products Page - Product Width - Textbox" Level="1">
  <Info>
    <Name>Products Page - Product Width - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>114</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>