<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bb7170d-9e30-4b2c-b3e1-39a43693d997" Alias="Product - Product Details - Textarea" Level="1">
  <Info>
    <Name>Product - Product Details - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>