<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6429690d-c979-435f-a472-cf6f9008f6dc" Alias="Product - Product category - Checkbox list" Level="1">
  <Info>
    <Name>Product - Product category - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>106</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Agriculture"
    },
    {
      "id": 2,
      "value": "Toothbrushes"
    },
    {
      "id": 3,
      "value": "Furniture/Outdoor"
    },
    {
      "id": 4,
      "value": "Packaging"
    },
    {
      "id": 5,
      "value": "Writing"
    },
    {
      "id": 6,
      "value": "Washing"
    }
  ]
}]]></Config>
</DataType>