<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da0a43ab-6eb7-4790-acd2-603e875a9a67" Alias="Product - Product dimensions - Textbox" Level="1">
  <Info>
    <Name>Product - Product dimensions - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>105</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>