<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56916546-9e5e-447e-ba1a-5d1322bbefb3" Alias="Products Page - Suggested Product Name - Textbox" Level="1">
  <Info>
    <Name>Products Page - Suggested Product Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>115</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>