<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ecc425f-82a8-4d96-870d-8b9c75e788a4" Alias="Products Page - Product Weight - Textbox" Level="1">
  <Info>
    <Name>Products Page - Product Weight - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>112</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>