<?xml version="1.0" encoding="utf-8"?>
<DataType Key="077e804a-18fb-44c9-bfe5-c329c6ad4e85" Alias="Product - Product Price - Decimal" Level="1">
  <Info>
    <Name>Product - Product Price - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <SortOrder>108</SortOrder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>