<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cabf54b-9b8d-4d7a-bdc0-b9c7612a91e8" Alias="Product - Product Price - Textbox" Level="1">
  <Info>
    <Name>Product - Product Price - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>