<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fb2707a-361b-4c07-8d48-0693fc51fb9a" Alias="Product Catalog - Popular Product Price - Textbox" Level="1">
  <Info>
    <Name>Product Catalog - Popular Product Price - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>111</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>