<?xml version="1.0" encoding="utf-8"?>
<DataType Key="004bfe9e-aabd-4922-a761-34020af19163" Alias="Product - Feature - Nested Content" Level="1">
  <Info>
    <Name>Product - Feature - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "feature",
      "ncTabAlias": "Feature",
      "nameTemplate": "{{FeatureName}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>