@inherits Umbraco.Web.Mvc.UmbracoViewPage

<head>
    <link rel="stylesheet" href="/css/FooterStyles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer>
    <div class="first-container">
        <div>
            <div class="container-contact-us">
                <label class="contact-us">
                    Contact Us
                </label>
            </div>
            <div>
                <div class="lets-chat">
                    <div class="lets-container-icon">
                        <div class="lets-chat-text" style="float: left;">
                            Let's Chat
                        </div>
                        <div class="fa fa-comment" style="display: inline; border: none; color: #2E3192; float: left; 
                                        padding-top: 12px; font-size: x-large !important; width: 41px; 
                                        height: 42px; margin: 5px 2px;"></div>
                    </div>
                </div>
            </div>
            <div>
            <div class="follow-us">Follow Us
            </div>
        </div>
        <div class="second">
            <div class="address">
                <label>Plot 75B, Mulwana Road Bugolobi
                    <br/><br/>
                </label>
                <div class="pobox">
                    P.O.BOX 5961,
                    <br/>
                    Kampala Uganda
                </div>
            </div>
            <div class="telephone-numbers">
                <label><b>T:</b> 0414-259358 / 0414-254169
                    <br>
                </label>
                <div>
                    <b>F:</b> 0414-434255
                </div>
            </div>
            <div class="icons-container">
                <div>
                    <a href="https://www.facebook.com/NiceHouseOfPlastics/" class=" icon fa fa-facebook" style="padding-top: 8.5px;
                                    margin-left: 10px; font-size: x-large !important; width: 41px; height: 42px;
                                    border: 1px solid #2E3192; box-sizing: border-box; border-radius: 25px;"></a>
                </div>
                <div class="icon-space">
                    <a href="https://twitter.com/niceplastics" class=" icon fa fa-twitter" style="padding-top: 8.5px;
                                    margin-left: 10px; font-size: x-large !important; width: 41px; height: 42px;
                                    border: 1px solid #2E3192; box-sizing: border-box; border-radius: 25px;"></a>
                </div>
                <div class="icon-space">
                    <a href="https://www.instagram.com/niceplastics/" class=" icon fa fa-instagram" style="padding-top: 8.5px;
                                    margin-left: 10px; font-size: x-large !important; width: 41px; height: 42px;
                                    border: 1px solid #2E3192; box-sizing: border-box; border-radius: 25px;"></a>
                </div>
            </div>
            <div class="terms-and-policies">
                <label class="terms-conditions">Terms & Conditions</label>
                <br>
                <br>
                <label class="privacy-policy">Privacy Policy</label>
            </div>
            <div class="second-container">
                <a href="" class="backto-top" style="float: left; color: #2E3192;">BACK TO TOP</a>
                <a href="" class="backto-top fa fa-arrow-right" style="display: inline; border: none; color: #2E3192; float: left; 
                                        padding-top: 12px; font-size: x-large !important; width: 41px; 
                                        height: 42px; margin: 5px 2px; vertical-align:center"></a>
                </div>
           </div>
        </div>
        <div class="nice-house-of-plastics">
            NICE HOUSE OF PLASTICS © 2019 | 
                <label class="all-rights">All Rights Reserved</label>
        </div>
    </div>
</footer>